In [1]:
import pandas as pd
import ccxt

In [2]:
exchange = ccxt.binance()

In [3]:
# Fetch OHLCV data
symbol = 'BTC/USDT'  # Specify your trading pair
timeframe = '1h'     # Timeframe (1d for daily data)
limit = None         # Number of data points to fetch

ohlcv = exchange.fetch_ohlcv(symbol, timeframe, limit=limit)

In [5]:
# Create a DataFrame
df = pd.DataFrame(ohlcv, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])

# Convert timestamp to datetime
df['Date'] = pd.to_datetime(df['Date'], unit='ms')

# Display the DataFrame
df = df.drop(499)
df

                   Date      Open      High       Low     Close      Volume
0   2024-10-20 22:00:00  68770.00  69400.00  68600.00  69137.28  2772.83894
1   2024-10-20 23:00:00  69137.28  69196.16  68923.32  69031.99   934.63300
2   2024-10-21 00:00:00  69032.00  69519.52  68972.56  69160.00  1511.98728
3   2024-10-21 01:00:00  69160.00  69480.00  69106.00  69210.89   726.66974
4   2024-10-21 02:00:00  69210.88  69266.64  68709.87  68710.00  1082.59587
..                  ...       ...       ...       ...       ...         ...
494 2024-11-10 12:00:00  79844.00  80080.00  79268.15  79654.00  3270.28363
495 2024-11-10 13:00:00  79654.00  79899.90  79540.00  79728.01  1458.86412
496 2024-11-10 14:00:00  79728.01  79960.00  79200.00  79508.01  2759.50281
497 2024-11-10 15:00:00  79508.00  79758.88  79379.90  79694.03  1527.98427
498 2024-11-10 16:00:00  79694.03  79782.29  79486.01  79775.99  1313.89455

[499 rows x 6 columns]

In [5]:
#df.to_pickle('BTC-USDT-Daily')

In [10]:
#df.to_pickle('BTC-USDT-Hourly')

In [6]:
# Fetch OHLCV data
symbol = 'BTC/USDT'  # Specify your trading pair
timeframe = '1h'     # Timeframe (1d for daily data)
limit = None         # Number of data points to fetch

ohlcv = exchange.fetch_ohlcv(symbol, timeframe, limit=1)
ohlcv

[[1731258000000, 79776.0, 79850.0, 79648.0, 79850.0, 319.46384]]

In [8]:
# Create a DataFrame
df = pd.DataFrame(ohlcv, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])

# Convert timestamp to datetime
df['Date'] = pd.to_datetime(df['Date'], unit='ms')

# Display the DataFrame
df

                 Date     Open     High      Low    Close     Volume
0 2024-11-10 17:00:00  79776.0  79850.0  79648.0  79850.0  319.46384